* {
  font-family: "inter", system-ui;
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  outline: none;
  box-sizing: border-box;
}
.wrapper {
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  a {
    color: inherit;
    text-decoration: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
}

.content {
  padding: 40px;
  .sneakersWrapper {
    display: flex;
    justify-content: space-between;
  }

}

.searchBlock {
  display: flex;
  align-items: center;
  margin: 0 0 40px 0;
  justify-content: space-between;
  .searchInput {
    border: 1px solid #f3f3f3;
    display: flex;
    border-radius: 10px;
    padding: 0 15px;
    input {
      border: 0;
      padding: 13px;
      font-size: 16px;
      width: 200px;
    }
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 9;
}



